<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a818dentalclinic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopActivityClassOne"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".PopActivityClassTwo"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassThree"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassFour"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassFive"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassSix"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassSeven"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassEight"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".PopActivityClassNine"
            android:theme="@style/AppTheme.PopMe"/>
        <activity android:name=".DateTimePicker" />
        <activity android:name=".PatientAppointments" />
        <activity android:name=".AddingAppointments" />
        <activity android:name=".DoctorLoginPage" />
        <activity android:name=".PatientLoginPage" />
        <activity android:name=".DoctorAppointments" />
        <activity android:name=".PatientRegister" />
        <activity android:name=".DoctorAppointmentsSevenDays" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>